.messagesContainer {
    width: 100%;
    display: flex;
}

.right-side-messages {
    flex: 0 0 400px;
    position: sticky;
    top: 0;
    height: 100vh;
    border-right: 1px solid rgb(204, 204, 204);
    padding: 15px 10px;
    background: #fff;
}

.header-mes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.nickName-mes {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.iconDownMes {
    padding: 5px;
    color: #393939;
}

.iconMes {
    cursor: pointer;
}


.searchInputMes {
    display: flex;
    padding: 0 40px;
}

.searchInputMes input {
    border: none;
    outline: none;
    font-size: 16px;
}

.searchIconMes {
    color: #858585;
    padding: 10px;
}

.messages-info {
    padding: 0 20px;
}

.messages-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messages-info-header p {
    font-size: 15px;
    font-weight: bold;
}

.messages-info-header button {
    border: none;
    font-size: 15px;
    color: #575757;
    cursor: pointer;
}

.messages-info-header button:hover {
    color: #262626;
    border-bottom: 1px solid #262626 ;
}



/*users*/

.users-mes {
    max-height: 100vh;
    overflow-y: auto;
}

.messages-users {
    display: flex;
    gap: 10px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.messages-users-avatar {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    object-fit: cover;
    border: 1px solid rgba(62, 62, 62, 0.45);
}

.messages-users-name {
    font-size: 14px;
    padding-top: 5px;
    margin: 0;
    font-weight: 500;
}

.mes-info {
    display: flex;
    gap: 20px;
    font-size: 13px;
    color: #858585;
}


/********** LEFT - SIDE ************/
.left-side-messages {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.messages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    border: 3px solid rgb(0, 0, 0);
    margin-bottom: 20px ;
}

.send-mes-btn {
    background: #006fdd;
    color: white;
    padding: 6px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.send-mes-btn:hover {
    background: #0063b8;
}

.mes-title {
    color: #2e2e2e;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
}

.mes-desc {
    color: #7c7c7c;
    font-size: 14px;

}