.userBio {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    margin: 0 auto;

}

.imageUserBio {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #dbdbdb;
}


.userBioInfo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

/*-----------------TOP-----------------*/
.topLine {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}

.userBioNickname {
    font-size: 22px;
    font-weight: 400;
}

.btnProfileUserBio button {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    border: none;
}


.btnSettingsUserBio {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    color: #262626;
    border: none;
}

.btnSettingsUserBio svg {
    width: 24px;
    height: 24px;
}

/*-----------------BOTTOM-----------------*/
.bottomLine {
    margin-top: 20px;
}

.bottomLine ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.bottomLine li {
    font-size: 16px;
    color: #535353;
    display: flex;
    align-items: center;
    gap: 5px;
}

.bottomLine li strong {
    font-weight: 600;
    color: #000000;
}

/* Overlay */
.modalSettingsOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal */
.modalSettingsContent {
    background: #fff;
    width: 400px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.modalSettingsContent button {
    padding: 20px 0;
    font-size: 14px;
    background: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #dbdbdb;
}


.modalSettingsContent a {
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    color: #262626;
    font-size: 14px;
    border-bottom: 1px solid #d3d3d3;
    transition: background 0.15s ease;
}

/*Отмена*/
.modalSettingsContent button:last-child {
    font-weight: 600;
    border-bottom: none;
}

.modalSettingsContent button.logout {
    color: red;
    font-weight: 600;
}

/*Изменить фото*/
.avatarUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px ;
}

.changeAvatarBtn {
    margin-top: 8px;
    padding: 6px 12px;
    font-size: 14px;
    width: 140px;
    cursor: pointer;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #2edf70;
    color: black;
    transition: background 0.2s ease;
}

.deleteAvatarBtn {
    margin-top: 5px;
    width: 140px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: white;
    background-color: #fd1d1d;
    transition: background 0.2s ease;
}

