.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

.left-side-home {
  flex: 0.18;
  padding: 15px 10px;
  position: relative;
}

.middle-side-home {
  flex: 0.4;
  flex-direction: column;
  border-left: 1px solid rgb(204, 204, 204);
}

.right-side-home {
  flex: 0.3;
}