.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

.left-side-home {
  flex: 0.155;
  padding: 15px 10px;
  position: relative;
}

.middle-side-home {
  flex: 0.5;
  flex-direction: column;
  border-left: 1px solid #b5b5b5;
}

.right-side-home {
  flex: 0.345;
}